
/* Font loader ------------------*/

@font-face {
    font-family: 'FONTNAME';
    src: url('../fonts/FILENAME.eot');
    src: url('../fonts/FILENAME.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FILENAME.woff') format('woff'),
         url('../fonts/FILENAME.ttf') format('truetype'),
         url('../fonts/FILENAME.svg#FONTNAME') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
  background: salmon;
}
/* Typography ------------------*/


/* Slider ----------------------*/


#slides { /* Prevent the slideshow from flashing on load */
  display: none;
  position: relative;
}

.slider {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  border-bottom: 30px solid #fff;
}


.slide {
  height: 100%;
  width: 100%;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

/*background-color change*/
.slide, .shape {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s;
}


/* slides transition */

.slide .img-wrapper img {
  -webkit-transform: translateX(133%);
  -moz-transform: translateX(133%);
  transform: translateX(133%);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.title .img-wrapper img {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

.active .img-wrapper img {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

.slide .img-wrapper {
  width: 75%;
  z-index: 1;
  position: relative;
  height: 100%;
  max-height: calc(100vh - 30px);
}

.shape {
  height: 100%;
  width: 25%;
  border: 1px solid transparent;
  z-index: 2;
}


/*slidesjs navigation*/

.slidesjs-pagination {
  display: block;
}

/* Show active item in the pagination */
.slidesjs-pagination .active {
  color:red;
}

.slidesjs-pagination a {
  width: 100%;
  height: 30px;
  display: block;
}

/*.slidesjs-navigation {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 25%;
  height: 100%;
  max-height: calc(100vh - 30px);
  font-size: 0px;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 30px;
  -webkit-transition: background-position 100ms;
  -moz-transition: background-position 100ms;
  transition: background-position 100ms;
}*/

.slidesjs-navigation {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 33%;
  height: 100%;
  max-height: calc(100vh - 30px);
  font-size: 0px;
  color: transparent;
}

.slidesjs-next {
  right: 0;
  background: none;
}

.slidesjs-next:hover {
  background-image: url('../img/next.png');
  background-position: 90% center;
  background-size: 40px;
  background-repeat: no-repeat;
}

.slidesjs-previous{
  left: 0;
}

.slidesjs-previous:hover{
  left: 0;
  background-image: url('../img/prev.png');
  background-position: 10% center;
  background-repeat: no-repeat;
  background-size: 40px;
}


.slidesjs-next:hover{
  /*background-position: 80% center;*/
/*  -webkit-transition: background-position 100ms;
  -moz-transition: background-position 100ms;
  transition: background-position 100ms;*/
}

.slidesjs-previous:hover{
  /*background-position: 20% center;*/
/*  -webkit-transition: background-position 100ms;
  -moz-transition: background-position 100ms;
  transition: background-position 100ms;*/
}

.slide .caption {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  transform: translateY(60%);
}

.slides .overview {
  display: flex;
}

.slides .overview .thumb {
  width: 30%;
}


/*Title slide ------------*/

.slide-inner {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 30px);
  background: #f4eff1;
  /*padding-bottom: 60%;*/
}

.title .img-wrapper {
  width: 100%;
}

.title .shape.hor {
  width: 87.5%;
  height: 12.5%;
  position: absolute;
}

.title .shape.vert {
  width: 12.5%;
  height: 87.5%;
  position: absolute;
}

.title .shape.top {
  top: 0;
  left: 0;
  background: #8c825a url('../img/zanzan-logo-white.png') center center no-repeat;
  background-size: auto 50%;
}


.title.active .shape.right {
  top: 0;
  right: 0;
  background: #dca15f; /*yellow*/
}

.title .shape.right {
  /*background: #324d50;*/ /*turquoise*/
  top: 0;
  right: 0;
}

.title .shape.bottom {
  bottom: 0;
  right: 0;
  background-color: #92423b; /*dark red*/
}

.title .shape.bottom {
  bottom: 0;
  right: 0;
 /* background: #324d50;*/ /*turquoise*/
}

.title .shape.left {
  bottom: 0;
  left: 0;
  background-color: #e6b1a3; /*pink*/
}

.title .shape.left span {
  display: block;
  color: white;
  font-size: 44px;
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg); 
  transform: rotate(-90deg);
}



/*individual slides ------------*/

.slide-2 .shape {
  background: #e5ded4; /*bone*/
}

.slide-2 .img-wrapper img {
  position: absolute;
  bottom: 0;
}

.slide-2,
.active.shape.turquoise{
  background: #324d50; /*turquoise*/
}

.slide-3 {
  background: #8c825a;
}

.slide-3 .khaki {
  background: #e5ded4; /*bone*/
}

.slide-4 .img-wrapper img {
  position: absolute;
  bottom: 0;
}

.slide-4 {
  background: #dca15f; /*yellow*/
}

.slide-4.active .lightblue {
  background: #92afad; /*lightblue*/
}

.slide-5 {
  background: rgba(199,111,109,1); /*pink*/
}

.slide-5.active .pink {
  background: rgba(199,111,109,1); /*pink*/
}

.slide-5 .khaki {
  background: #b2ac7a; /*khaki*/
}

.slide-4 .lightblue,
.slide-5.active .khaki {
  background: #cdc28a; /*khaki*/
}

.slide-6 {
  background-color: #92423b; /*dark red*/
}

.slide-6.turquoise {
  background: #324d50; /*turquoise*/  
}

.slide-6 .shape.yellow {
  background: rgba(199,111,109,1); /*pink*/
}

.slide-6.active .shape.yellow {
  background: #dca15f; /*yellow*/
}

.slide-7.lightblue {
  background: #92afad; /*lightblue*/  
}

/*.slide-7 .turquoise {
  background: rgba(199,111,109,1); /*pink
}*/

.slide-7 .turquoise {
  background: #324d50; /*turquoise*/ 
}

.slide-8 {
  background: #cdc28a; /*khaki*/ 
}

.slide-8 .red,
.slide-9 .red{
  background: #92423b; /*dark red*/
}

.slide-9.lightblue {
  background: #92afad; /*lightblue*/   
}

.slide-10 {
  background: #cdc28a; /*khaki*/  
}

.slide-10 .pink,
.slide-11.pink {
  background: rgba(199,111,109,1); /*pink*/ 
}

.slide-11 .red, .slide-12 .red {
  background: #92423b; /*dark red*/
}

.slide-12 {
  background: #b37650;
}

.slide-9 .img-wrapper img,
.slide-11 .img-wrapper img,
.slide-12 .img-wrapper img {
  position: absolute;
  bottom: 0;
}

.slide-13 {
  background: #e5ded4; /*bone*/
}

.slide-13 .yellow {
  background: #dca15f; /*yellow*/
}

.slide-14 {
  background: #dca15f; /*yellow*/
}

.slide-14 .turquoise {
  background: #324d50; /*turquoise*/
}

.slide-15 {
  background: #e5ded4; /*bone*/
}

.slide-15 .khaki {
  background: #cdc28a; /*khaki*/  
}

.slide.overview {
  background: #dca15f; /*yellow*/
}



/* Instafeed ------------------*/

#instafeed {
  height: 100vh;
}





/* Media Queries ------------------*/


/* Medium (as per framework.css) */

@media screen and (max-width: 800px) {
}

/* Small (as per framework.css) */

@media screen and (max-width: 600px) {